

<p>
  <strong>Shattered empire:</strong>
  <%= @game.shattered_empire %>
</p>

<p>
  <strong>Shards of the throne:</strong>
  <%= @game.shards_of_the_throne %>
</p>

<p>
  <strong>Number of players:</strong>
  <%= @game.number_of_players %>
</p>

<p>
  <strong>Races:</strong>
  <%= @game.races %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @game.rules %>
</p>

<p>
  <strong>Strategy cards:</strong>
  <%= @game.strategy_cards %>
</p>

<p>
  <strong>Address:</strong>
  <%= @game.address %>
</p>

<p>
  <strong>Time:</strong>
  <%= @game.date_and_time %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @game.notes %>
</p>

<table>
  <thead>
    <tr>
      <th>Invited Users</th>
      <th>Confirmed (RSVP'd) Users</th>
      <th>Spots Left : <%= @game.number_of_players - @game.played_games.length %></th>

    </tr>
  </thead>

  <tbody>
    <% @game.played_games.each do |game| %>
      <tr>
        <% if game.rsvp == false %>
          <td><%= game.user.email %></td>
          <td></td>
        <% else %>
         <td></td>
         <td><%= game.user.id %></td>
        <% end %>
        <td><%= link_to 'Delete Invitation', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>