<table>
  <thead>
    <tr>
      <th>Shattered empire</th>
      <th>Shards of the throne</th>
      <th>Number of players</th>
      <th>Races</th>
      <th>Rules</th>
      <th>Strategy cards</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.played_games.all.each do |played_game| %>
      <% if played_game.rsvp == true  %>
        <tr>
          <td><%= played_game.game.shattered_empire %></td>
          <td><%= played_game.game.shards_of_the_throne %></td>
          <td><%= played_game.game.number_of_players %></td>
          <td><%= played_game.game.races %></td>
          <td><%= played_game.game.rules %></td>
          <td><%= played_game.game.strategy_cards %></td>
          <td><%= link_to 'Show', played_game.game %></td>
          <td> <%= link_to 'Cancel', played_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>  
    <% end %>
  </tbody>
</table>